[View in Colaboratory](https://colab.research.google.com/github/eyemoore/datascience5k/blob/master/types_lists_dictionaries_review.ipynb)

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [0]:
# Enter Student names here:
student_names = ['darryl','tom','dennis','joe','alex','jeremy', 'christian','mariel','david','dan']
student

---

### 1) What are the types of the following variables?

In [0]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [0]:
# A:

---

### 3) Print the `student_names` list.

In [0]:
# A:

---

### 4) Print the names of the first and last students on the list.

In [0]:
# A:

---

### 5) Print the first five names in the `student_names` list.

In [0]:
# A:

first: a last: ccc

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [0]:
# A:

---

### 7) Append an animal to the list of animals.

In [0]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [0]:
# A:

---

### 8) Print the length of the `animals` list.

In [0]:
# A:

---

### 9) Divide the length of the fifth animal by the second.

In [0]:
# A:

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [0]:
# A:

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [0]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [0]:
# A:

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [0]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [0]:
# A:

---

### 13) Sort the following list.

In [0]:
mix = [ '100', '2', 'flower', 'a']

In [0]:
# A:

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [0]:
# A:

---

### 15) Find the index of `'a'` in the list.

In [0]:
# A:

---

### 16) Reverse the `mix` list.

In [0]:
# A:

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [0]:
# A:

---

### 18) Count the number of times `0` appears in the following list.

In [0]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [0]:
# A:

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [0]:
# A:

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [0]:
# A:

---

### 21) Get the keys out of the dictionary.

In [0]:
# A:

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [0]:
# A:

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [0]:
# A:

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [0]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [0]:
# A:

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [0]:
# A:

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [0]:
# A: